.chat {
  /* flex: 2; */
  border-right: 1px solid grey;
  background-color: #fefefe;

  height: 100vh;
  display: flex;
  flex-direction: column;

  .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(250, 238, 238);
    height: 30px;
    background-color: #fefefe;
    color: #7e5eab;
    
  }

  .user {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .icons {
    display: flex;
    gap: 20px;
    color: #7e5eab;
    font-size: 1.5rem;
    

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  img {
    width: 60px;

    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  .texts {
    display: flex;
    flex-direction: column;
    gap: 5px;

    span {
      font-size: 18px;
      font-weight: bold;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      color: #7e5eab;
    }
  }

  .center {
    padding: 20px;
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .message {
      max-width: 70%;
      display: flex;
      gap: 20px;
      color:white;


      &.own {
        align-self: flex-end;

        .texts {
          p {
            background-color: #f6f0fc;
            color: rgb(78, 77, 74);
          }
        }
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;


        img {
          width: 100%;
          height: 300px;
          border-radius: 10px;
          object-fit: cover;
        }

        p {
          padding: 20px;
          background-color: #be99ee;
          border-radius: 10px;
          color: white;
          width: fit-content;

          
        }

        span {
          font-size: 13px;
        }
      }
    }
  }
  .bottom {
    padding: 2px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border-top: 1px solid grey;
    gap: 1;
    margin-bottom: auto;
    background-color: rgba(226, 222, 226, 0.5);
    height: 60px;
    position: sticky;
  }

  input {
    flex: 1;
    background-color: rgba(234, 233, 234, 0.5);
    outline: none;
    border: none;
    color: white;
    padding: 18px;
    border-radius: 10px;
    font-size: 16px;
  }

  .sendButton {
    background-color: rgb(184, 95, 231);
    color: white;

    padding: 10px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .icons {
    display: flex;
    gap: 20px;
  }
  img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 1px;
  }

  .emoji {
    padding: 10px;
    position: relative;

    .picker {
      position: absolute;
      bottom: 0;
      left: 40px;
    }
  }
}

 