.chat {
  /* flex: 2; */
  border-right: 1px solid grey;
  background-color: #fefefe;

  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;

  .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(250, 238, 238);
    height: 30px;
    background-color: #fefefe;
    color: #7e5eab;
    
  }

  .user {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .icons {
    display: flex;
    gap: 20px;
    color: #7e5eab;
    font-size: 1.5rem;
    

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
 

  .texts {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    gap: 5px;

    span {
      font-size: 18px;
      font-weight: bold;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      color: #7e5eab;
    }
  }

  .center {
    padding: 20px;
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .message {
      max-width: 60%;
      display: flex;
      gap: 20px;
      color:white;

      flex-direction: column-reverse;


      &.own {
        align-self: flex-end;
        b

        .texts {
          p {
            background-color: #f6f0fc;
            color: rgb(78, 77, 74);
            min-width: 100px;
          }
        }
      }

      /* img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
        background-color: tomato;
      } */
      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;


        img {
          /* width: 100%;
          height: 300px;
          border-radius: 10px;
          object-fit: cover; */
        }

        p {
          padding: 20px;
          background-color: #be99ee;
          border-radius: 10px;
          color: white;
          width: fit-content;

          
        }

        span {
          font-size: 13px;
        }
      }
    }
  }
  .bottom {
    padding: 2px;
    display: flex;
    align-items: center;
    border-top: 1px solid grey;
    margin-bottom: auto;
    background-color: rgba(226, 222, 226, 0.5);
    height: 60px;
    position: sticky;
    width: 100%;
  }

  .userMessage {
    flex: 1;
    background-color: rgba(212, 211, 212, 0.5);
    outline: none;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
  }


  .textsDiv{
    /* font-size: 20px; */
    display: flex;
    flex-direction: column;
    align-items:  baseline;
    max-width: 90%;
    color: black;
    /* background-color: #f6f0fc;     */
    padding: 10px;

   
  }

  .chatSender{
    font-size: 16px;
    font-weight: 900;
  }

  .chatImage {
    width: 80%;
    height: 100%;

    object-fit: cover;
  }
  /* .chatImage{
    width: 300px !important;
  } */

  .imageInput{
    background-color: rgb(243, 243, 238) ;
    width: 20%;
    font-size: 10px;
    padding-right: 20px;
  }
  
  .sendButton {
    background-color: rgb(184, 95, 231);
    color: white;

    padding: 10px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .icons {
    display: flex;
    gap: 20px;
  }
  img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 1px;
  }

  .emoji {
    padding: 10px;
    /* position: relative; */

    .picker {
      position: absolute;
      bottom: 60px;
      right: 10px;
    }
  }
}

/* 
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-file-upload img {
  width: 24px;
  height: 24px;
} */
 