
.landingBody{

}

.landinPage{
    background-image: url('../../Images/pattern.svg'); 
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 20px;
    height: 90vh;

.landingDiv{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    p{
        font-size: 60px;
        color: rgb(44, 43, 43);
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
        /* background-color: rebeccapurple; */

    }
    h2{
        font-size: 60px;
        text-align: center;
        color: rgb(196, 189, 189);
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    }

    h3{
        font-weight: 400;
        font-size: 20px;
    }

    button{
        background-color: plum;
        border: none;
        margin-top: 30px;
        border-radius: 15px;
        padding: 5px;
        a{
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-size: 25px;
            padding: 20px;
            height: 40px;
        }
    }

}
}

.landingImg{
    background-image: url(../../Images/Chatting.gif);
    height: 500px;
    /* background-position: center; */
    background-size: contain;
    background-repeat: no-repeat
    ;
    
}

.imgDiv{
    width: 50%;
}