.userInfo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0; 
  background-color: #ffffff;
  height: 30px;
  border-bottom: 1px solid rgb(176, 176, 176);


  .user {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #313158;
    h2{

    
    font-size: 18px;
    font-weight: 600;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  .icons {
    display: flex;
    gap: 20px;
    color: #7e5eab;
    font-size: 1.5rem;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
