*{
  padding: 0;
  margin: 0;
}


.fullChat{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #d9e0d9;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.FirstDiv
{
  background-color: #fdfdfd;
}

.chatList{
  width: 40%;
  height: 100vh;
  border-right: 1px solid rgb(185, 185, 185);
  border-left: 1px solid rgb(55, 53, 53);
  background-color: #fdfdfd;
  color: #7e5eab;



.teamName{
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.4rem;



  
}

.teamDiv{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.addTeamBtn{
  cursor: pointer;
  background-color: #eeeff1;
  width: 30px;
  height: 30px;
  border-radius: 360px;
  border: none;
  color: rgb(179, 142, 209);

  h2{
    font-size: 1.5rem;
  }
  
}

.addTeamBtn:hover{
  background-color: #ba95ee;
  color: white;


}

.chatSnippet{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
}


.emptyChat{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 50%; */
  /* top:0; */
  /* width: fit-content; */
  text-align: center;
  font-size: 17px;
}

.emptyDiv{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 60%;
  font-size: 17px;
}




.chatHistory{
    height: 41vw;
    width: 60%;
}

.search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 90%;
  }

  .top{ 
    background-color: #82a2a4;
    height: 90px;
  }
  
  .outsideChat{
    background-color: yellowgreen
    ;
    margin-left: 20px;
  }
  
  
  .searchBar {
    flex: 1;
    background-color: rgba(221, 221, 226, 0.5);
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
  
    input {
      background-color: transparent;
      border: none;
      outline: none;
      color: white;
    }
  
    img {
      width: 20px;
      height: 20px;
    }
  }
  
  .add {
    width: 20px;
    background-color: rgba(199, 199, 202, 0.5);
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .add:hover{
    background-color: rgba(166, 99, 188, 0.5);
    color: whitesmoke;

  }

  .texts{
    height: fit-content;

  }
  
  .item {
    display: flex;
    align-items: top;
    gap: 20px;
    padding: 20px;
    /* cursor: pointer; */
    border-bottom: 1px solid rgb(220, 215, 215);
    height: 50px;
    /* overflow-y:scroll;
    overflow-x: hidden; */
  
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
    .tetxs {
      display: flex;
      flex-direction: column;
      gap: 10px;
      
    }
    span {
      font-weight: 500;
    }
  
    p {
      font-size: 14px;
      font-weight: 300;
      
    }
  }
  

  .teamErrors {
    display: flex;
    height: 100%;
    margin-top: 1px;
    width: 20%;
    cursor: pointer;
  }
  
  .teamErrDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }
  
  ul.teamLists {
    display: flex; 
    flex-direction: column !important; 
    height: 100%;
    padding: 0; 
    margin: 0; 
  }
  
  .hide{
    display: none;
   
  }

  .hide {
    display: none;
  }
  
  .show {
    display: block;
    background-color: rgb(172, 192, 208);
    height: 100%;
    position: absolute;
    width: 25%;
    z-index: 1;
    transform: translateX(-200%); /* Start off-screen */
    transition: transform 0.5s ease-in-out; /* Smooth transition */
  }
  
  .show.slide-in {
    transform: translateX(0); /* Slide in */
  }
  
  .teamLists {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .teamLists li {
    list-style: none;
    padding-top: 20px;
    border-bottom: 1px solid rgb(107, 107, 107);
    cursor: pointer;
    text-transform: capitalize;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    
  }
  
  .lastDivBtn {
    background-color: rgb(95, 154, 202);
    margin-left: 70%;
    height: 40px;
    width: 80px;
    margin-top: 20px;
    cursor:pointer;
    border:none;
    border-radius: 10px;
    color: white;
  }
  
  /* @media only screen and (min-width:1100px){
    .fullChat{
        height: 100%;
        width: fit-content;
        
        padding: 20px;
    }
    .teamErrors {
        position: absolute;
        background-color: rgb(142, 61, 61);
        width: 30%;
        display: flex;
        height: 90vh;
        margin-left: auto;
    }
    .chatList{
        width: fit-content;
    }
  } */

  @media only screen and (max-width:1100px){
    
   .fullChat{
        height: 100%;
        /* width: fit-content; */


        
    }

    .chatList{
      width: fit-content;

    }
    .teamErrors {
        /* display: none; */
        position: absolute;
        width: 30%;
        display: flex;
        height: 90vh;
        margin-left: auto;

        
    }

    .FirstDiv{
      overflow-y: scroll;
      height: 85vh;
    }
    .show{
      width: 40vw;
      height: 100%;
    }

  }


  @media only screen and (max-width:768px){

    .fullChat{
      height: 100%;
      /* width: fit-content; */


    }
    .chatList{
      width: fit-content;


    }
    .chatHistory{
      height: 100%;
      width: 60%;
    }
    .show{
      width: 40vw;
      height: 100%;
    }
  }

  @media only screen and (max-width:771px){
  
    .chatHistory{
      height: 100%;
      width: 60%;
    }

    .show{
      width: 40vw;
      height: 100%;
    }
  }

  @media only screen and (max-width:600px){
    .chatHistory{
      display: none;

      .chatHistory.mobile-open {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        background: rgb(182, 97, 97);

      }
    }
    .SmallSizechatHistory{
      display: none;
    }
  

    .fullChat{
      width: 100%;
      display: flexbox;
      padding: 0;
      overflow: hidden;
    }

    .FirstDiv{
      height: 100%;
      width: 100vw;
      top: 0;
      /* border-left: 1px solid black; */
    }

    .show{
      width: 60vw;
      height: 100%;
    }
  }