.chatList {
  flex: 1;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.fullChat{
  display: flex;
  overflow-x: scroll;

}


/* .main{
  display: flex;
} */

.search {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.outsideChat{
  background-color: yellowgreen
  ;
  margin-left: 20px;
}


.searchBar {
  flex: 1;
  background-color: rgba(17, 25, 40, 0.5);
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;

  input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.add {
  width: 36px;
  background-color: rgba(17, 25, 40, 0.5);
  height: 36px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid grey;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .tetxs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  span {
    font-weight: 500;
  }

  p {
    font-size: 14px;
    font-weight: 300;
  }
}
