.chatList {
  flex: 1;
  overflow-x: scroll;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
}

.fullChat{
  display: flex;
  overflow: auto;

  width: fit-content;
}

.FirstDiv{
}
/* .main{
  display: flex;
} */

.userTxt{
}


.emptyChat{
  background-color: yellow;
  /* width: 100vw; */
}
.search {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.outsideChat{
  background-color: yellowgreen
  ;
  margin-left: 20px;
}


.searchBar {
  flex: 1;
  background-color: rgba(17, 25, 40, 0.5);
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;

  input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.add {
  width: 36px;
  background-color: rgba(17, 25, 40, 0.5);
  height: 36px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.item {
  display: flex;
  align-items: top;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid grey;
  height: 400px;
  /* overflow-y:scroll;
  overflow-x: hidden; */

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .tetxs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  span {
    font-weight: 500;
  }

  p {
    font-size: 14px;
    font-weight: 300;
  }
}


.emptyChat{
  width: 40vw;
  display: flex;
  height: 100%;
  background-color: rgba(17, 25, 40, 0.5);
  align-items: center;
  justify-content: center;
}

/* .teamErrors{
  background-color: purple;
  display: flex;
  overflow: auto;
} */

/* .teamLists{
  background-color: aliceblue;
  flex-direction: row !important;
  display: flex;

  
  li{
    background-color: yellow;
    /* flex-direction: row; */
    /* margin-left: 20px;
    display: flex;
    width: 100%; */

  /* }
} */ 

@media only screen and (max-width:600px){

  .fullChat{
    /* width: 30vw; */
    display: flex;
    width: 100%;
    /* overflow-x: hidden; */
    height: 100vh !important;
    padding: 5px;
    padding-right: 30px;
  }

  .chatList{
    width: 10% !important;
    height: 90vh !important;

  }
  .FirstDiv{
  }

  .teamErrors{
    display: hidden;
  }

  .chatHistory{
    width: 60%;
  }

  .emptyChat{
    width: 100%;
    height: 85vh;

  }
  
}