@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

.action-page{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40vh;
    position: relative;
    border-bottom: 1px solid rgb(203, 203, 203);
    background-color: #366f6f;

}

.screen-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.action-div{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* z-index: 1; */

    h3{
        color: white;
        font-size: 1rem;
        font-weight: 400;
    }

    h2{
        font-weight: 800;
        font-size: 2rem;
          font-family: 'ManRope', sans-serif;
        color: #e6e6e6;


    }

    p{
        /* text-transform: uppercase; */
        padding: 10px;
        font-family: 'ManRope', sans-serif;
        text-align: center;
        color: #e6e6e6;
        font-size: 0.8rem;

    }

    button{
        /* background-color: black; */
 /* background: linear-gradient(135deg, #52817e 0%, #fed6e3 100%);  */
 background-color: #52d1d1;
        color: rgb(8, 8, 8);
        border-radius: 12px;
        padding: 5px;
        border: none;
    }
}